.chatContainer {
  margin-top: 4rem;
}

.title {
  font-size: 1.9rem;
  margin-bottom: 2rem;
  text-align: center;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 5rem;
  border-radius: 5px;
  background-color: #f0f0f0;
  height: 35rem; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  text-align: center;

  @media screen and (max-width: 1600px) {
    height: 25rem;
  }
}

.noMessagesImage {
  margin: 0;
  width: 500px;
  height: 400px;
  position: relative;
  background-color: #f0f0f0;
}

.noMessagesImage img {
  width: 100%;
  height: 100%;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.message a {
  color: #740938;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.inputContainer input {
  padding: 10px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.inputContainer button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #740938;
  color: white;
  border: none;
}
